<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular js test app start</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</head>
<body ng-app="">
<br/>
Name:
<br/>
<input type="text " ng-model="name" id="name">{{name}}
<br/>
<br/>
========================================================================================================================
<div class="div-type" ng-init="items=['Mango','Orange','Apple','Pineapple']">
    <h4>
        Looping in Angular
    </h4>

    <ul>
        <li ng-repeat="item in items">{{item}}</li>
    </ul>
</div>
<br/>
<br/>
========================================================================================================================
<div class="div-type" ng-init="employees=[{name:'neha gupta',age:26,location:'Delhi'},
{name:'Rita',age:25,location:'Mumbai'},
{name:'Rahul',age:26,location:'Noida'},
{name:'Raj',age:25,location:'Delhi'}]">
    <ul>
        <li ng-repeat="emp in employees | filter:name | orderBy:'age'">
            {{emp.name}}:
            <br/>
            Location:{{emp.location}},
            <br/>
            Age:{{emp.age}}
            <br/>
        </li>
    </ul>
</div>

<br/>
<br/>
========================================================================================================================
<div class="container" data-ng-controller="simpleController">
    <h4>
        Adding a simple controller
    </h4>
    <ul>
        <li ng-repeat="cust in customers">
            {{cust.name}}
            <br/>
            Location: {{cust.city}}
        </li>
    </ul>
</div>


</body>
</html>
