<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular js test app start</title>
</head>
<body ng-app="">
<br/>
Name:
<br/>
<input type="text " ng-model="name" id="name">{{name}}
<br/>
<br/>
========================================================================================================================
<div class="div-type" ng-init="items=['Mango','Orange','Apple','Pineapple']">
    <h4>
        Looping in Angular
    </h4>

    <ul>
        <li ng-repeat="item in items">{{item}}</li>
    </ul>
</div>
<script type="text/javascript" src="../js/angular.js"></script>
</body>
</html>